@font-face {
    font-family: ClashDisplay;
  src: url("../fonts/Windows/ClashDisplay_Complete/OTF/ClashDisplay-Regular.otf");
}
@font-face {
    font-family: Satoshi;
    src: url("../fonts/Windows/Satoshi/Fonts/OTF/Satoshi-Regular.otf");
}
a{
    text-decoration: none;
}
body{
    margin: auto;
    max-width: 1920px;
    font-family: ClashDisplay;
}
.topnav{
    display: inline-block;
    width: 100%;
height: 132px;
background: #FFFFFF;
text-align: center;
margin-top:10px;
}
.topnav hr{
    width: 1920px;
}
.logo{
margin-right:20%;
}
.search {
    padding-right:45%;
}
.cart{margin-left: 20%
}
.title1{
    text-align:center;
}
.navigation{
    font-family: Satoshi;
}
.navigation a{
margin-left: 2%;
line-height: 21.6px;
font-size: 16px;
color:#726E8D;

}
.container{
    width: 1280px;
height: 584px;
}
.heroblock {
    margin-left: 16%;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-right: 16%;
}
    .hero{
        width: 1280px;
    height: 584px;
    background-color: #2A254B;
    display: flex;
    }
    .heroleft{
        padding: 16px 32px;
        color: white;
    }
    .satoshi{
        font-family: Satoshi;
    }
    .heroright{
        height: 584px;
    width: 520px;
    margin-left: 760px;
    position: absolute;
    }
    .heroright img{
        height: 100%;
    width: 100%;
    }
    .button1{
        background: rgba(249, 249, 249, 0.15);

        width: 170px;
        height: 56px;
        padding: 16px, 32px, 16px, 32px;
        gap: 10px;
        text-align: center;
    }
    .button1 p{
        padding-top: 11%;
    }
    .heroa{
        color:white;
    }
.cardbody{
    margin-left:18.5%;
}
.card {
    display:inline-block;
    margin-left:2%;
}
.title2{
    margin-left:16.5%;
}
.productcards {
    display: inline-flex;
    margin-left:15%
}
.prodcard1 {
    margin-left:2%;
}
    .prodcard1 img {
        width: 305px; 
        height: 375px;
    }
.prodcards2 {
    display: inline-flex;
    margin-left: 15%
}
.prodcard2 {
    margin-left: 2%;
}

    .prodcard2 img {
        width: 305px;
        height: 375px;
    }
.imglong  {
    width: 630px !important;
    height: 375px !important;
}
footer {
    background: #2A254B;
}
.c-button {
    height: 10%;
    min-width: 3%;
    font-family: inherit;
    appearance: none;;
    border: none;
    background: rgba(153, 153, 153, 0.295);
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    font-family: Satoshi;
  }
  .btn2{
margin-left: 46%;
color:black;
  }
  .container4{
    background: #F9F9F9;
    text-align: center;
    width: 100%;
    height: 400px;
  }
  .forma{
    width: 50%;
    height: 60%;
    background-color: white;
margin-left: 16%;
margin-right: 16%;
display:inline-block;
margin-top:4.5%;
  }
  .formcont{
    margin-top:5%;
  }
  .f-button {
    height: 10%;
    min-width: 3%;
    font-family: inherit;
    appearance: none;;
    border: none;
    background: rgba(42, 37, 75, 1);
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    font-family: Satoshi;
  }
  .f-mail{
    height: 10%;
    min-width: 3%;
    font-family: inherit;
    appearance: none;
    border:none;
    padding: 8px 16px;
    font-size: 12pt;
    font-family: Satoshi;
  }
  .i-button {
    height: 10%;
    min-width: 3%;
    font-family: inherit;
    appearance: none;;
    border: none;
    background: rgba(42, 37, 75, 1);
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    font-family: Satoshi;
  }
  .iblock {
    margin-left: 16%;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-right: 16%;
}
    .hero{
        width: 1280px;
    height: 584px;
    background-color: white;
    display: flex;
    }
    .heroleft{
        padding: 16px 32px;
        color: rgba(42, 37, 75, 1);
    }
    .satoshi{
        font-family: Satoshi;
    }
    .heroright{
        height: 584px;
    width: 520px;
    margin-left: 760px;
    position: absolute;
    }
    .heroright img{
        height: 100%;
    width: 100%;
    }